*{
	padding: 0;
	margin: 0;
}
html, body, header, header > .row, header > .row > .col-12{
	height: 100%;
}

header > .row > a{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

a > button{
    padding: 9px;
    font-size: 21px;
    margin-bottom: 30px;
}

h1{
	font-size: 16vh;
	margin-top: 10%;
}

#problems h2{
	margin-top: 30px;
    margin-bottom: 30px;
}

body{
	font-size: 17px;
	text-align: center
}

form{
	padding: 10px;
	text-align: left;
}

label{
	display: block;
}


#showcase{
    background-image: url(images/date-2.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #fff8e7;
}

#title{
	font-size: 19vh;
	margin-top: 10%
}

#showcase h1 span{
	display: block
}

#distance div{
	text-align: center;
}

#distance p,
#distance input{
	display: inline-block;
}

[type="submit"]{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#map{
	width: 100%;
	height: 500px
}

fieldset{
	border: none;
}
.text-input{
	width: 80%;
}
#distance-percent{
	display: block;
}

#distance-between{
	width: 25%;
}

span.number-icon {
    display: inline-block;
    width: 20px;
    color: white;
    text-align: center;
    height: 25px;
    border-radius: 50%;
    background: #00455B;
}

.details{
	overflow: hidden;
	margin-top: 35px;
}

#query-title{
	font-size: 3em;
}

fieldset section {
    margin: 30px;
    overflow: hidden;
}

section h3{
	margin-top: 30px;
    margin-bottom: 30px;

}
article h4{
	display: inline-block;
	margin-right: 35px;
}

 .query-info{
	text-align: left;
	padding-top: 0;
}
.query-rating{
	font-size: 1.7em;
}

#phone{
	height: auto;
	width: 100%;
}

#phone, form{
	border-top: 59px solid black;
    border-left: 20px solid black;
    border-radius: 3%;
    border-right: 20px solid black;
    border-bottom: 56px solid black;
    box-shadow: 5px 10px 8px #888888;
}

.row-color{
	background: lightgray;
	width: 100%;
	padding-bottom: 40px;
    margin-bottom: 60px;
}
.row-white{
	background: white;
	width: 100%;
}


@media only screen and (min-width: 640px){
	#title{
	font-size: 7em;
	}

	form{
		width: 50%;
		text-align: left;
		margin-left: auto;
		margin-right: auto;
	}

	.text-input{
	width: 90%;
	}
	#distance-between{
	width: 50%;
	}

	#phone{
		width:80%;
	}

}