*{
	padding: 0;
	margin: 0;
}
html, body, header, header > .row, header > .row > .col-12{
	height: 100%;
}

a > button{
    background-color: #F44336;
    border: none;
    border-radius: 5px;
    font-size: 26px;
    font-weight: bold;
    color: white;
    border-radius: 100px;
    min-width: 145px;
    padding: 20px;
    text-align: center;
    margin: 0;
}

h1{
	font-size: 16vh;
	margin-top: 10%;
}

.call-to-action{
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 40px;
	font-weight: bold;
}

body{
	font-size: 17px;
	text-align: center
}

form{
	font-size: 21px;
	padding: 10px;
	text-align: left;
	background-image: url("images/whatsapp.jpg")
}

label{
	display: block;
}


#showcase{
    background-image: url(images/date-2.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #fff8e7;
}

#title{
	font-size: 16vh;
	margin-top: 10%
}

#distance div{
	text-align: center;
}

#distance p,
#distance input{
	display: inline-block;
}

[type="submit"]{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#map{
	width: 100%;
	height: 500px
}

fieldset{
	border: none;
}
.text-input{
	width: 80%;
}
#distance-percent{
	display: block;
}

#distance-between{
	width: 25%;
}

span.number-icon {
    display: inline-block;
    width: 20px;
    color: white;
    text-align: center;
    height: 25px;
    border-radius: 50%;
    background: #00455B;
}

.details{
	overflow: hidden;
	margin-top: 35px;
}

#query-title{
	font-size: 3em;
}


section h3{
	margin-top: 30px;
    margin-bottom: 30px;

}
article h4{
	display: inline-block;
	margin-right: 15px;
}
article{
	margin-top: 30px;
}

 .query-info{
	text-align: left;
	padding-top: 0;
}
.query-rating{
	font-size: 1.7em;
}

#phone{
	height: auto;
	width: 100%;
	max-width: 400px;
}

#phone, form{
	border-top: 59px solid black;
    border-left: 20px solid black;
    border-radius: 3%;
    border-right: 20px solid black;
    border-bottom: 56px solid black;
    box-shadow: 5px 10px 8px #888888;
}

.row-color{
	background: lightgray;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 40px;
    margin-bottom: 60px;
}
.row-white{
	background: white;
	width: 100%;
	padding-top: 30px;
    padding-bottom: 30px;
}

.message:first-child {
	margin: 16px 0 8px;
  }
  
  .message.received {
	background: #fff;
	border-radius: 0px 5px 5px 5px;
	float: left;
	clear: both;
	padding: 10px;
  }
  
  .message.received .metadata {
	padding: 0 0 0 16px;
  }
  
  .message.received:after {
	border-width: 0px 10px 10px 0;
	border-color: transparent #fff transparent transparent;
	top: 0;
	left: -10px;
  }
  
  .message.sent {
	background: #e1ffc7;
	border-radius: 5px 0px 5px 5px;
	float: right;
	clear: both;
	padding: 10px;
  }
  
  .message.sent:after {
	border-width: 0px 0 10px 10px;
	border-color: transparent transparent transparent #e1ffc7;
	top: 0;
	right: -10px;
  }
  .card{
	  padding-bottom: 10px;
	  height: 200px;
	  margin-top: 35px;
  }

  .card-color{
	  background: white;
	  box-shadow: 5px 10px 8px #999;
	  border-top: 10px solid indianred;
  }
  .card-title{
	  font-size: 33px;
	  font-weight: bolder;
	  color: rgba(0,0,0,0.85);
  }

  .card-rating{
	font-size: 27px;
	font-weight: bold;
	color: rgba(0,0,0,0.75);
}
.card-address{
	font-size: 20px;
    font-weight: lighter;
    color: rgba(0,0,0, .65);
}
.card-info{
	padding: 15px;
	background: white;
	box-shadow: 5px 10px 8px #999;
	padding: 15px;
	font-size: 20px;
}

.color-bottom{
	border-bottom: 3px solid indianred;
}

.ol-layout{
	margin-left: 25px;
}

input{
	padding: 6px;
    font-size: 18px;
}

.hidden{
	display: none;
	visibility: hidden;
}
#full-width{
	width:100%;
	max-width: none;
}
  


@media only screen and (min-width: 640px){

	#title{
	font-size: 7em;
	}

	form{
		width: 50%;
		text-align: left;
		margin-left: auto;
		margin-right: auto;
	}

	.text-input{
	width: 90%;
	}
	#distance-between{
	width: 50%;
	}

	#phone{
		width:80%;
	}
	.col-4.card-color {
		margin: 10px;
	}
	.card-title{
		font-size: 33px;
	}
  
	.card-rating{
	  font-size: 27px;
  	}
  	.card-address{
	  font-size: 20px;
	  }
	#title{
		font-size: 19vh;
	}

}

@media only screen and (min-width: 700px){
	#title{
	font-size: 7em;
	}

	form{
		width: 50%;
		text-align: left;
		margin-left: auto;
		margin-right: auto;
	}

	.text-input{
	width: 90%;
	}
	#distance-between{
	width: 50%;
	}

	#phone{
		width:80%;
	}
	.col-4.card-color {
		margin: 10px;
	}
	.card-title{
		font-size: 38px;
	}
  
	.card-rating{
	  font-size: 27px;
  	}
  	.card-address{
	  font-size: 20px;
  	}

}