*{
	padding: 0;
	margin: 0;
}

/*div{
	border: 2px solid red;
}*/


body{
	font-size: 17px;
	text-align: center
}

form{
	text-align: left;
}

label{
	display: block;
}


#showcase{
    background-image: url(images/date.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: rgba(197, 228, 206, 1);
    text-align: left;
}

#title{
	font-size: 5rem;
}

#showcase h1 span{
	display: block
}

#distance div{
	text-align: center;
}

#distance p,
#distance input{
	display: inline-block;
}

[type="submit"]{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#map{
	width: 100%;
	height: 500px
}

fieldset{
	border: none;
}
input{
	width: 90%;
}
#distance-percent{
	display: block;
}

#distance-between{
	width: 30%;
}

span.number-icon {
    display: inline-block;
    width: 20px;
    color: white;
    text-align: center;
    height: 25px;
    border-radius: 50%;
    background: purple;
}

fieldset section {
    margin: 30px;
    overflow: hidden;
}

section h3{
	margin-bottom: 10px;

}


@media only screen and (min-width: 640px){
	#title{
	font-size: 9rem;
	}

	form{
		width: 50%;
		text-align: left;
		margin-left: auto;
		margin-right: auto;
	}

	input{
	width: 75%;
	}
	#distance-between{

	width: 50%;
	}

}